<h1>Noticias</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Título</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% articles.forEach(function(article){ %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td>
                    <a href="/articles/details/<%= article.id %>">Leer</a>
                    <a href="/articles/edit/<%= article.id %>">Editar</a>
                    <form class="d-inline" action="/articles/delete/<%= article.id %>" method="post">
                        <input type="submit" value="Eliminar" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
